.navbar {

    &__list {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__item {
        padding: 10px 15px;
        white-space: nowrap;
        cursor: pointer;
    }
}