
.home {
    width: 100%;
    overflow-x: hidden;
}

.section {
    &-home {
        padding: 0 40px 80px;
    }

    &__title {
        font-size: 4.5rem;
        font-weight: 400;
        margin-bottom: 30px;
        text-align: center;
        
        @media (max-width: 768px) {
            font-size: 3rem;
        }
        
        @media (max-width: 480px) {
            font-size: 2rem;
        }
    }
}