.footer {

    &__inner {

    }

    &__top {
        background-color: var(--header-bg-color);

        &--inner {
            padding: 50px 0;
        }
    }

    &__title {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__column {

        &--list {
            display: flex;
            flex-direction: column;
            list-style: disc;
            padding-left: 15px;
        } 

        &--item {
            padding: 8px 0;
        }
    }

    &__bottom {

        background-color: var(--footer-bg-color);
        &--inner {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            height: 80px;
        }
    }

    &__list {
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__text {
        text-align: right;
    }
}